security:
    encoders:
        App\Entity\User:
            algorithm: auto

    #!enable_authenticator_manager: true

    # https://symfony.com/doc/current/security.html#where-do-users-come-from-user-providers
    providers:
        # used to reload user from session & other features (e.g. switch_user)
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email
    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false
        main:
            anonymous: true
            lazy: true
            provider: app_user_provider
            guard:
                authenticators:
                    - App\Security\LoginFormAuthenticator
            logout:
                path: app_logout
                # where to redirect after logout
                target: main_home

            # activate different ways to authenticate
            # https://symfony.com/doc/current/security.html#firewalls-authentication

            # https://symfony.com/doc/current/security/impersonating_user.html
            # switch_user: true

    # Easy way to control access for large sections of your site
    # Note: Only the *first* access control that matches will be used
    access_control:
        # TODO : mettre le HTTPS + la génération de certificats
        #- { path: '^/', roles: IS_AUTHENTICATED_ANONYMOUSLY, requires_channel: https }
        - { path: ^/admin/user/\d+/edit, roles: ROLE_RESPONSIBLE }
        - { path: ^/admin/user/\d+/detail, roles: ROLE_RESPONSIBLE }
        - { path: ^/admin, roles: ROLE_ADMIN }
        - { path: ^/coffee/admin, roles: ROLE_RESPONSIBLE }
        # - { path: ^/profile, roles: ROLE_USER }
    
    role_hierarchy:
        ROLE_ADMIN: [ ROLE_RESPONSIBLE ]

