{% extends 'base.html.twig' %}

{% block title %}NearBy Coffe Acceuil{% endblock %}

{% block body %}

<h1>BIENVENUE</h1>

<table>
    {% for coffee in lastCoffee %}
        <a class= "coffee_list-item" href="{{ path('coffee_detail', {slug:coffee.slug}) }}">{{ coffee.name }}</a>
        <p>{{ coffee.roasting.name }}</p>
    {% endfor %}
</table>

{% endblock %}