{% extends 'base.html.twig' %}

{% block title %}NearBy Coffe Acceuil{% endblock %}

{% block body %}

<p>HOME</p>

<hr>

{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    <p>Hello {{ app.user.firstname }} !</p>
{% endif %}

{% endblock %}