{% extends 'base.html.twig' %}

{% block title %}Nearby Coffee - Modifier {{ name }}{% endblock %}

{% block body %}

{{ form(form_roasting_edit) }}

<hr>
<a href="{{ path('roasting_detail', {id:roastingId}) }}">Retour au détail</a>

{% endblock %}