{% extends 'base.html.twig' %}

{% block title %}Nearby Coffee - Liste des cafés servis{% endblock %}

{% block body %}

{% if is_granted('ROLE_RESPONSIBLE') %}
    <a href="{{ path('coffee_new') }}">Ajouter un nouveau café</a>
<hr>
{% endif %}

{# TODO : Trier par nom et par torréfaction #}
<table>
    <th class="classify">Nom</th>
    <th class="classify">Torréfaction</th>
        {% for coffee in coffees %}
            <tr>
                <td><a class= "coffee_list-item" href="{{ path('coffee_detail', {slug:coffee.slug}) }}">{{ coffee.name }}</a></td>
                <td>{{ coffee.roasting.name }}</td>
            </tr>
        {% endfor %}
</table>

{% endblock %}