{% extends 'base.html.twig' %}

{% block title %}Nearby Coffee - Cafés servis{% endblock %}
{% block subtitle %}CAFES{% endblock %}

{% block body %}

{% if is_granted('ROLE_ADMIN') %}
<a class="text-reset padding_4" href="{{ path('coffee_new') }}">
    <button class="button_add p-2 font_bold">Ajouter</button>
</a>
{% endif %}

<ul class="list-group list-group-flush pt-4 ">
    {% for coffee in coffees %}
    <li class="list-group-item link_list-item w-50">
        <a class= "text-reset" href="{{ path('coffee_detail', {slug:coffee.slug}) }}">{{ coffee.name }}</a>
    </li>
    {% endfor %}
</ul>

{% endblock %}