{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="w-lg-50 w-100 alert alert-{{ label }}">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}