<div class="container-fluid">
<div class="row justify-content-end">
    <a class="col-1" href="{{ path('main_contact') }}">Contact</a>
    <a class="col-1" href="{{ path('main_about') }}">A propos</a>
</div>
</div>