
<div class="nav-item font_bold link_border color_2 margin_1">
    <a class="nav-link link_item color_4" href="{{ path('main_home') }}">ACCUEIL</a>
</div>
<div class="nav-item font_bold link_border color_2 margin_1">
    <a class="nav-link link_item color_4" href="{{ path('coffee_list') }}">CAFES</a>
</div>
<div class="nav-item font_bold link_border color_2 margin_1">
    <a class="nav-link link_item color_4" href="{{ path('roasting_list') }}">TORREFACTIONS</a>
</div>
<div class="nav-item font_bold link_border color_2 margin_1">
    <a class="nav-link link_item color_4" href="{{ path('gallery_list') }}">GALERIE PHOTO</a>
</div>
