
<nav class="container-fluid">
    <div class="row">
    <a class="col-3" href="{{ path('main_home') }}">ACCUEIL</a>
    <a class="col-3" href="{{ path('coffee_list') }}">CAFES</a>
    <a class="col-3" href="{{ path('roasting_list') }}">TORREFACTIONS</a>
    <a class="col-3" href="{{ path('gallery_list') }}">GALERIE PHOTO</a>
    </div>
</nav>