<!DOCTYPE html>
<html lang = "fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('/css/style2.css') }}">

        {% endblock %}
        
    </head>
    <body>
        <header class="">

            {# navbar #}
            <section class="container-fluid">
                <div class="row align-items-center">
                    <div class="col">
                        <a href="{{ path('main_home') }}">
                            <i class="bi bi-cup">
                            <svg xmlns="http://www.w3.org/2000/svg" width="4em" height="4em" fill="currentColor" class="bi bi-cup" viewBox="0 0 16 16">
                            <path d="M1 2a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v1h.5A1.5 1.5 0 0 1 16 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-.55a2.5 2.5 0 0 1-2.45  2h-8A2.5     2.5     0 0 1 1 12.5V2zm13 10h.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5H14v8zM13 2H2v10.5A1.5 1.5 0 0 0 3.5   14h8a1.5 1.5 0 0 0 1. 5-1.5V2z"/>
                            </svg>
                            </i>
                        </a>
                    </div>
                    <div class="col-10">
                        {% include '_navbar.html.twig' %}
                    </div>
                </div>
            </section>

            {# navbarAdmin #}
            <section>
                {% include '_navbarAdmin.html.twig' %}
            </section>

        </header>

        <section>
            {% include '_flash.html.twig' %}
        </section>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer class="bg-light p-3 border">
            {% include '_footer.html.twig' %}
        </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
