<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

{# TODO : retirer le style dans TOUS les templates et les mettre dans le style.css #}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p style="text-align: center;">Hello {{ app.user.firstname }} !</p>
        {% endif %}

        <div style="text-align: end;">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <button><a href="{{ path('app_logout') }}">déconnexion</a></button>
            {% else %}
                <button><a href="{{ path('app_login') }}">connexion</a></button>
            {% endif %}
        </div>
        <hr>

        {% include '_navbar.html.twig' %}

        {% include '_flash.html.twig' %}

        {% block body %}{% endblock %}

        {% include '_footer.html.twig' %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
