{% extends 'base.html.twig' %}

{% block title %}Modifier {{ name }}{% endblock %}

{% block body %}

{{ form(form_user_edit) }}

<hr>
<a href="{{ path('user_detail', {slug:userSlug}) }}">Retour au détail</a>

{% endblock %}