{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe {{ name }}{% endblock %}
{% block subtitle %}UTILISATEURS{% endblock %}

{% block body %}

<div class="width_50 color_4">
{# affichage des lignes seulement si le slug de l'utilisateur sont identiques #}
{% if app.user.Slug == userSlug %}
    {{ form(form_user_edit_password) }}
{% endif %}
</div>

<ul class="list-group list-group-flush pt-4 ">
    <li class="list-group-item link_list-item">
        <a class="p-1 text-reset link_home-coffee" href="{{ path('user_detail', {slug:userSlug}) }}">◄ Retour au détail</a>
    </li>
</ul>

{% endblock %}