{% extends 'base.html.twig' %}

{% block title %}Changement de mot de passe {{ name }}{% endblock %}

{% block body %}

{# affichage des lignes seulement si le slug de l'utilisateur sont identiques #}
{% if app.user.Slug == userSlug %}
    {{ form(form_user_edit_password) }}
{% endif %}

<hr>
<a href="{{ path('user_detail', {slug:userSlug}) }}">Retour au détail</a>

{% endblock %}