{% extends 'base.html.twig' %}

{% block title %}Ajouter un utilisateur{% endblock %}
{% block subtitle %}UTILISATEURS{% endblock %}

{% block body %}

<div class="width_50 color_4">
{{ form(form_user) }}
</div>

{% if is_granted('ROLE_ADMIN') %}
<ul class="list-group list-group-flush pt-4 ">
    <li class="list-group-item link_list-item">
    <a class="p-1 text-reset link_home-coffee" href="{{ path('user_list') }}">◄ Retour à la liste des utilisateurs</a>
    </li>
</ul>
{% endif %}

{% endblock %}